.hello{
    h1{font-size: 3rem; color: navy;}
    h3{font-style: italic;}
    h5{font-size: 2rem; color: teal;}
    .pick{
        button{
            border: none; background-color: transparent; 
            font-size: 3rem; color: navy;
        }
        img{width: 210px; height: 189px;}
    }
}