/* selector.css */
@import url("./reset.css");/*css 파일 호출*/
/* ↑항상 문서의 최상단에 위치해야함 */
header{
    background-color: #555;
    color: white;
    text-align: center;
    padding: 20px 0;
    /* 배경색상, 문자색상, 텍스트 정렬, 여백 */
}
/* class있으면 . 없으면 > */
header .menu {
/* header.menu =>스페이스 없으면 header class="menu"가 됨 */
    text-align: center;
}
header .menu > a {
    font-size: 24px; /*menu의 평균 폰트사이즈 16~24px*/
    color: red;
    font-weight: bold;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    text-transform: lowercase;
    letter-spacing: -3px; /*자간*/
    line-height: 1.6; /*줄간격, 단위없으면 1.6=160% */
    /* text-align: center; a태그에는 공간X 그래서 적용안된걸로보임 */
}

header .menu > a:nth-of-type(2){
    color: yellow;
}
/* a:nth-child(2)><위엣거랑 무슨차이? 왜 잘 안쓸까 */

main{}

#content{/*class보다 id가 우선순위 높*/
    width: 400px;
    background-color: aquamarine;
}
#content > p:nth-of-type(1){
    height: 300px;
    background-color: red;
}
#content > p:nth-of-type(2){
    text-align: center;
}
.content{
    width: 400px;
    background-color: aqua;
}

aside{}
footer{}

/* ex-1 */
.ex{
    width: 1000px;
    border: 1px solid black;
    padding: 40px;

    display: flex;
    align-items: center;
}
.ex > p{
    width: 50%;
    height: 600px;
    background-color: #555;
    color: white;
}
.ex div{
    width: 50%;
    padding-left: 60px;
}
.ex > div > b {font-size: 30px;}
.ex > div > p {
    font-size: 16px;
    margin: 30px 0;
}
.ex > div > a {
    background-color: yellow;
    border: 1px solid black;
    padding: 10px 30px;
    text-decoration: none;
    color: black;
    display: inline-block; /*다른 태그 침범 방지*/
}
/* ex-2 */
.ex2{
    width: 1000px; margin: 100px auto;
    border: 2px solid brown;
}
.ex2 > h2{text-align: center;}
.ex2 .list{
    margin: 0; padding: 0; 
    list-style-type:none;
    /* ul태그 초기화. 불릿 삭제 */
/*ul 태그 자식으로는 li만 존재해야함. li안에는 상관 X*/
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}
.ex2 .list .item { width: 30%; }
.ex2 .list .item > p {}
.ex2 .list .item > p > img { width: 100%; }
.ex2 .list .item > div {text-align: center;}
.ex2 .list .item > div > p {}
.ex2 .list .item > div > b {}
