header{}
header a{
  padding: 5px 20px;
  margin-left: 5px;
  border: 1px solid transparent;
  border-radius: 25px;
  text-decoration: none;
  background-color: dodgerblue;
  color: white;
  transition: .5s;
}
header a:hover{box-shadow: 0 0 5px 10px rgba(0, 4, 255, 0.566);}
main{
  padding: 10%;
  background-color: #eee;
}
.txt{color: dodgerblue;}