// _파일명.scss 하면 컴파일 안됨
$mobile: ('max-width:480px','max-width:767px');
$tablet: ('min-width:768px','max-width:1279px');
$pc: ('min-width:1280px');

@mixin device($dp){
    @media($dp){
        @content;
    }
}



@include device(nth($tablet,2)){
    body{background-color: green;}
}
@include device(nth($mobile,2)){
    body{background-color: blue;}
}
@include device(nth($mobile,1)){
    body{background-color: red;}
}
