*{box-sizing: border-box;}
html{
  background-color: rgb(153, 100, 204, 0.8);
  color: white;
}
section{
  width: 50%; margin: 100px auto;
  padding: 60px; border: 5px solid palegoldenrod;
  border-radius: 30px;
}
.newWrite{
  position: fixed; top: 1%; left:1%;
  .addPeople{
    width: 30px; height: 30px;
    border: 2px solid black;
    border-radius: 50px;
    padding: 3%; background-color: palegoldenrod;
    display: flex; justify-content: center; align-items: center;
    h2{color: black; font-size:25px;}
  }
  .inputForm{color: black;
    margin-top: 10px; background-color: palegoldenrod;
    // border: 1px solid black; 
    border-radius: 30px;
    padding: 5%;
    display: flex; flex-direction: column;
    text-align: center;
    input, button{
      width: 100%; margin: 10px 0;
      padding: 5%; 
    }
    display: none;
  }
}
.peopleList{
  border: 2px solid black;
  border-radius: 3px; 
  li{
    border-bottom: 1px dashed black;
    div{
      display: flex; flex-direction: row;
      justify-content: flex-end;
      button{margin: 5px;}
    }
  }
}
li{list-style:decimal;padding: 20px;}
.inputForm.active{
  display: block;
}
ul button:nth-child(1){ background-color: green; color: white;}
ul button:nth-child(2){ background-color: red; color: white;}
article ul li b.active{background-color: red;}
article ul li span.active{color: red; font-weight: bold;}